@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

/* helper classes */
.spacing-bottom {
  margin-bottom: 50px;
}
.spacing-top {
  margin-top: 50px;
}
.spacing-v-both {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* general html elements */

h1, h2, h3, h4 {
  font-weight: bold;
  margin-top: 30px;
}
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
h2 {
  font-size: 20px;
  font-size: 2.0rem;
}
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h4, h5, h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

figure {
  margin: 0;
  max-width: 100%;
}

figure.float-left {
  float: left;
  margin-right: 15px;
}

figure.float-right {
  float: right;
  margin-left: 15px;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 50px;
  border-left: 1px solid;
}

blockquote p {
  padding: 15px 25px;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 50px 0;
}

th, td {
  padding: 5px;
}

th {
  border-bottom: 1px solid;
}

tr:nth-child(2n) td {
  background: #eee;
}

@media (max-width: 480px) {
  img {
    padding: 30px 0;
  }

  blockquote {
    margin: 30px 0;
  }

  table {
    margin: 30px 0;
  }

  pre {
    margin: 30px 0;
  }
}

a {
  text-decoration: underline;
  color: inherit;
}

abstract {
  width: 90%;
  margin: 30px auto 60px auto;
  display: block;
  font-style: italic;
}

/* author is just for schema.org */
author {
  display: none;
}

/* syntax highlighting */
.highlight pre {
  padding: 1rem;
  overflow-x: scroll;
}


/* general navigation styling */

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation::before, .navigation::after {
  content: "";
  display: block;
  height: 0px;
  border-top: 1px solid;
  flex-grow: 2;
  vertical-align: middle;
}

.navigation li {
  border-left: 1px solid;
  padding: 0 15px;
  font-weight: bold;
}
.navigation li a {
  color: inherit;
  text-decoration: none;
}
.navigation li a:hover {
  background-color: none;
}

.navigation li:last-of-type {
  border-right: 1px solid;
}


/* blog pages */

.page {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

.page .header a {
  text-decoration: none;
}

.page .content {
  margin: 50px 0;
}

.page .header h1 {
  text-align: right;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  /* margin-bottom: 5px; */
  font-weight: 300;
  font-size: 38px;
  font-size: 3.8rem;
}
.page .header h2 {
  text-align: right;
  color: #aaa;
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
}

/* post detail site */
.post-details {
  /*text-align: center;*/
  margin-bottom: 50px;
}

.post-details h1 {
  margin-bottom: 5px;
  font-size: 32px;
  font-size: 3.2rem;
}

.post-details time {
  color: #aaa;
  font-size: 18px;
  font-size: 1.8rem;
}

.post-details .tags {
  color: #aaa;
  font-style: italic;
}

/* post listing on blog index page */
ul.post-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}


ul.post-list li {
  display: flex;
}
ul.post-list li:hover {
  background-color: #eee;
}


ul.post-list time {
  font-weight: 300;
  color: #aaa;
}

ul.post-list .separater {
  padding: 0 10px;
}

ul.post-list a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  flex-grow: 2;
}

ul.post-list .title {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

ul.post-list .description {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
}

ul.post-list .tags {
  color: #aaa;
  font-style: italic;
  font-size: 1.4rem;
}

@media (max-width: 480px) {
  ul.post-list {
    margin-left: 0;
  }

  ul.post-list li {
    display: list-item;
    margin-bottom: 30px
  }

  ul.post-list .separater {
    display: none;
  }

  ul.post-list time {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
  }
}
