html {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.8;
}
body {
    max-width: 800px;
    margin: 1rem auto;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #819ff2;
}

a:visited {
    color: #819ff2;
}

/* navigation */

/* page header */
header h1 {
    border-bottom: solid 1px;
}

header p {
    font-style: italic;
    padding: 0rem 2rem;
}

header details {
    padding: 0.5rem;
    border: 1px dashed;
}


/* blog details */
dt {
    font-weight: bold;
    margin-top: 1rem;
}

/* still needed? */
dt:first-child {
    margin: 0;
}

dd ul {
    padding-left: 0;
    margin: 0;
}

/* code blocks */
pre {
    margin: 2.5rem 1rem!important;
    border: solid 1px #000;
    box-shadow: 5px 5px #ccc;
    padding: 1rem;
    background-color: #fff!important;
}

pre code {
    background-color: #fff;
    border: none;
    padding: 0;
}

/* inline <code/> */
code {
    background-color: #ccc;
    border: dashed 1px;
    padding: 0px 5px
}

em {
    background-color: yellow;
}


blockquote {
    margin: 2.5rem 2.5rem;
    border-left: solid 1px;
    padding: 0px 1rem;
    font-size: 1rem;
}


table {
    margin: 2.5rem 1rem;
    box-shadow: 5px 5px #ccc;
    border: solid 1px #000;
    padding: 0.5rem
}

th {
    font-weight: bold;
    border-bottom: solid 1px;
}
td,th {
    padding: 0.3rem 0.5rem;
}

img {
    max-width: 100%;
    box-shadow: 5px 5px #ccc;
    border: 1px solid #000;
    margin: 1.5rem auto;
    display: block;
}

hr {
    border-top: 1px dashed;
    margin: 2.5rem 0;
}

article h1, article h2, article h3 {
    margin-top: 3rem;
}

/* subsequent paragraphs */
article > p + p {
    margin-top: 2rem;
}

article > p + ol, article > p + ul {
    margin: 1.5rem;
}

article footer {
    border-top: 1px solid;
    margin: 2rem 0;
    padding: 1rem 0;
    font-style: italic;
}


@media screen and (max-width: 800px) {
    body {
        padding: 0 1rem;
    }
    pre {
        margin: 2.5rem 0!important
    }
    table {
        margin: 2.5rem 0;
    }
    blockquote {
        margin: 2.5rem 0;
    }
}