/************************************
 * Mobile
 ************************************/
@media screen and (max-width: 800px) {
    body {
        padding: 0 1rem;
    }
    article table {
        margin: 2.5rem 0!important;
		padding: 0!important;
    }
    article blockquote {
        margin: 2.5rem 0!important;
    }
    article ul, article ol{
        padding: 0!important;
    }
    article details {
        margin: 2.5rem 0!important;
    }

    article hr {
        margin: 2.5rem 1rem!important;
    }
}


/************************************
 * Default
 ************************************/

/* 
 * Font for monospaced code blocks. Loaded directly rather than from
 * Google, since the served web version is missing glyphs for box drawing
 * characters.
 */
@font-face {
  font-family: 'Fira Code';
  src: url('/public/FiraCode.ttf');
}

html {
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body {
    max-width: 800px;
    margin: 1rem auto;
}

a {
    text-decoration: underline dotted;
    color: #A70000;
}

a:hover {
    text-decoration: underline;
}

/* a:visited { */
/*     color: #819ff2; */
/* } */
/*************
 * navigation
 *************/
nav {
	padding-bottom: 1rem;
	padding-top: 1rem;
    /* border-bottom: 1px solid #819ff2; */
    display: flex;
    align-items: center;
}

nav .name {
    font-weight: bold;
    margin-right: 1.5rem;
}

nav img.round {
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
    display: none;
}

/*******************
 * page header
 *******************/
header {
    /* border-bottom: 1px dashed #819ff2; */
}
header h1 {
     font-size: 1.5rem;
     margin-bottom: 0rem;
}
header .metadata {
    color: #aaa;
    /* font-style: italic; */
    /* font-size: 0.9rem; */
    margin-top: 0;
}


/******************
 * Blog index
 * ****************/

.blog-index .article-list {
    padding: 0;
}

.blog-index .article-list li.article {
    padding: 0.2rem 0;
}

.blog-index .article-list li.article {
    display: flex;
}

.blog-index .article-list li.article:hover{
    background-color: #FFEBEB;
}

.blog-index .article time {
    /* font-size: 0.8rem; */
    color: #888;
    padding-right: 0.5rem;
    white-space: nowrap
}

.blog-index .article .description{
    /* font-style: italic; */
    font-size: 0.9rem;
    color: #555;
}



/***************
 * Article page
 ***************/

article {
    padding-top: 1rem;
}



/* code blocks */
article pre {
    margin: 0 0 2.5rem 0!important;
    border: dotted 1px #A70000;
    /* box-shadow: 5px 5px 5px #ccc; */
    padding: 1rem;
    background-color: #fff!important;
    font-size: 0.8rem!important;
}

/* inline <code/> */
article code,
article pre code {
    background-color: #fff;
    border: none;
    padding: 0;
    white-space: pre;
    line-height: 1.2;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    font-family: "Fira Code", Menlo, Monaco, "Courier New", monospace;
    font-optical-sizing: auto;

    color: #A70000;
}

article label {
    font-style: italic;
    font-size: 0.9rem;
    margin: 0 0.5rem;
}

article blockquote {
    margin: 2.5rem 2.5rem;
    border-left: solid 1px #A70000;
    padding: 0px 1rem;
    font-size: 1rem;
}

article table {
    margin: 2.5rem 1rem;
    /* box-shadow: 5px 5px #ccc; */
    border: dotted 1px #A70000;
    padding: 0.5rem;
    max-width: 100%;
}

article th {
    font-weight: bold;
    border-bottom: solid 1px #A70000;
    padding: 1pxj
}
article td, article th {
    padding: 0.3rem 0.5rem;
}

article figure {
    margin: 2.5rem 0;
    text-align: center;
}

article figure * {
    max-width: 100%;
}

article img {
    max-width: 100%;
    border: 1px dotted #A70000;
    margin: 1.5rem auto;
    display: block;
}

article hr {
    border-bottom: 1px dashed #ccc;
    border-top: 0; 
    margin: 2.5rem 3rem;
}

article ul, article ol {
	margin: 1.5rem 1rem;
    padding: 0 2rem;
}

article dl {
    margin: 1.5rem 0;
}

article dl dt {
    font-style: italic;
    margin-bottom: 0.4rem;
}

article dl dd {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	font-size: 1rem;
	margin: 2rem 0 0.8rem 0;
}
article h1 {
	font-size: 1.5rem;
}
article h2 {
    font-size: 1.1rem;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #A70000;
}

article details {
    border: 1px solid #ccc;
    border-left: 8px solid #ccc;
    margin: 1.5rem 0rem;
}

article details > * {
    padding: 0rem 1rem;
}

article details summary {
    font-style: italic;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

article p {
    margin-top: 0;
    margin-bottom: 2rem;
}

article footer {
    border-top: 1px solid;
    margin: 2rem 0;
    padding: 1rem 0;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

article aside {
    border: 2px solid #ccc;
    margin: 2rem 0;
    /*border-top: 1px solid #ccc;*/
}

article aside p {
    padding: 0 1rem;
}

article aside::before {
    content: 'Note:';
    display: block;
    font-weight: bold;
    padding: 0 1rem;
    /*border: 1px solid #ccc;*/
}
